<img alt="Rails logo" height = "120" src="/assets/elearning-logo.png" />
<% if logged_in? %>

	
	<div class="center jumbotron">
		<%= link_to "Words",words_path , class: "btn btn-lg btn-primary" %>
		<%= link_to "Lesson",categories_path , class: "btn btn-lg btn-primary" %>
	</div>
<% else %>
	
<% end %>